.mainContainer {
  position: relative;
  background-color: darkgrey;
  background: url("../img/background.svg");
  width: 1024px;
  height: 768px;
  margin: 25% auto 0 auto;
}

.centerHexagon {
  position: absolute;
  background: url("../img/centerhexagon.svg");
  top: 334px;
  left: 462px;
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  z-index: 9999;
}

.triangle1 {
  position: absolute;
  top: 314px;
  left: 502px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid dodgerblue;
  transform-origin:10px 70px;
}

.blockContainer {
  position: relative;
}

.block {
  position: absolute;
  fill: white;
}


.blockPosition0 {
  left: 110px;
  top: -300px;
}

.blockPosition1 {
  left: 700px;
  top: 20px;
  transform: rotate(60deg);
}

.blockPosition2 {
  left: 700px;
  top: 700px;
  transform: rotate(120deg);
}

.blockPosition3 {
  left: 100px;
  top: 950px;
  transform: rotate(180deg);
}

.blockPosition4 {
  left: -500px;
  top: 680px;
  transform: rotate(240deg);
}

.blockPosition5 {
  left: -500px;
  top: 15px;
  transform: rotate(300deg);
}
