@font-face {
    font-family: "visitor1";
    src: url(../fonts/visitor1.ttf) format("truetype");
}

body {
  background: black;
  color: rgba(255,170,170, 0.9);
  font-family: "visitor1",sans-serif;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.mainContainer {
  position: relative;
  width: 1024px;
  height: 768px;
  margin: 0 auto 0 auto;
  transform: scale(0.75);
  border-radius: 50px;
  overflow: hidden;
  animation: hue-rotate 10s linear infinite;
}

.uiContainer {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 9000;
}

#title {
  margin-top: 10%;
  text-align: center;
  font-size: 64px;
}

#buttonContainer {
  width: 50%;
  margin:17% auto;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 32px;
  border: 4px rgba(255,170,170, 0.9) solid;
  border-radius: 10px;
}

.buttonLeft {
  float: left;
}

.buttonRight {
  float: right;
}

.gameContainer {
  position: relative;
  background-color: darkgrey;
  background: url("../img/background.svg");
  width: 1024px;
  height: 768px;
  margin: 0 auto 0 auto;
}

.centerHexagon {
  position: absolute;
  background: url("../img/centerhexagon.svg");
  top: 334px;
  left: 462px;
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  z-index: 9999;
}

.triangles {
  position: absolute;
  top: 374px;
  left: 442px;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform-origin:70px 10px;
}

.triangle1 {
  border-right: 10px solid rgba(255,170,170, 0.9);
}

.triangle2 {
  border-left: 10px solid rgba(255,102,102, 0.9);
}

.blockContainer {
  position: relative;
}

.block {
  position: absolute;
  fill: white;
}

.blockPosition0 {
  left: -480px;
  top: 15px;
  transform: rotate(300deg);
}

.blockPosition1 {
  left: 110px;
  top: -300px;
}

.blockPosition2 {
  left: 690px;
  top: 25px;
  transform: rotate(60deg);
}

.blockPosition3 {
  left: 690px;
  top: 680px;
  transform: rotate(122deg);
}

.blockPosition4 {
  left: 100px;
  top: 1000px;
  transform: rotate(180deg);
}

.blockPosition5 {
  left: -490px;
  top: 680px;
  transform: rotate(240deg);
}

.instruction {
  margin: 0 auto 0 auto;
  width: 768px;
  color: white;
}